---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---

{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
    }}
{{/if}}

{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
    <div class='add-remove-buttons'>
        <button class='add-all-to-cart-button' data-products='{{json category.products}}' data-cart='{{cart_id}}' onClick={addAllToCart(this)} >Add All To Cart</button>
        {{#if cart_id}}
        <button class='remove-all-items-button' data-cart='{{cart_id}}' onClick={removeAllItems(this)}>Remove All Items</button>
        {{/if}}
    </div>
    
    {{{region name="category_below_header"}}}
{{/unless}}
{{{category.description}}}
<div class="page">
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}}

    <div class="page-content" id="product-listing-container">
        {{> components/category/product-listing}}
        {{{region name="category_below_content"}}}
    </div>
</div>

{{/partial}}
{{> layout/base}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js" integrity="sha512-RNLkV3d+aLtfcpEyFG8jRbnWHxUqVZozacROI4J2F1sTaDqo1dPQYs01OMi1t1w9Y2FdbSCDSQ2ZVdAC8bzgAg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

    Handlebars.registerHelper('json', (context) => {
        return JSON.stringify(context);
    });

    addAllToCart = (e) => {

            let cartId = e.getAttribute('data-cart');
            let url = cartId ? `/api/storefront/carts/${cartId}/items` : `/api/storefront/cart`;
            
            let data = JSON.parse(e.getAttribute('data-products'));
            let dataArr = data.map(item => item.id);

            let itemData = {
                lineItems: dataArr.map((id) => ({
                    quantity: 1,
                    productId: id
                }))
            };
            let options = {
                method: 'POST',
                body: JSON.stringify(itemData),
                credentials: 'include',
                header: {
                    'Content-Type': 'application/json'
                }
            }

            return fetch(url, options)
            .then(res => res.json)
            .then(json => window.location.reload());
    }

    removeAllItems = (e) => {

            let cartId = e.getAttribute('data-cart');
            let url = `/api/storefront/carts/${cartId}`;
            let options = {
                method: 'DELETE',
                credentials: 'include',
                header: {
                    'Content-Type': 'application/json'
                }
            }

            return fetch(url, options)
            .then(res => res.json)
            .then(json => window.location.reload());
    }

</script>