.add-remove-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-all-to-cart-button, .remove-all-items-button {
    border: 1px solid #8f8f8f;
    border-radius: 3px;
    padding: 0.5rem;
    margin: 2px;
    &:hover {
        border: 1px solid #333333;
    }
}

.notification-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification {
    text-align: center;
    text-transform: capitalize;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1rem;
    color: #fff;
    margin-top: 0.3rem;
}